<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/story" method="post">
        prompt: <input type = "text" name = "fname" />
        outptu: 

    </form> -->

    <form id="async_form" action="javascript:void(0);" onsubmit="myFunction()"> 
        <!-- form action="javascript:;" onsubmit="myFunction(this)" -->
        Story prompt: <input type = "text" name = "prompt" id="sprompt"/>
        <!-- <button type="button" onclick="myFunction()">Click Me!</button> -->
        <button type="submit">Submit</button>
        <button type="button" onclick="clearFields()" id="clear_button">clear</button>
        <img id="image" src="https://www.w3schools.com/images/w3schools_green.jpg" >
        <p id="output">This is a demonstration.</p>
    </form>

    

    

<script>
    // async_form.onsubmit = myFunction
    function clearFields() {
        sprompt.value='';
        output.innerHTML = '';
        document.getElementById("image").src="";
    }

    async function myFunction() {
        const form = document.getElementById("async_form");
        const formData = new FormData(form);
        document.getElementById("output").innerHTML = "Je verhaaltje wordt geschreven";
        var out = '';
        await fetch('/story',{method: "POST",
                body:formData})
            .then((response) => response.json())
            .then((json) => out = json);
        document.getElementById("output").innerHTML = out['story'];
        document.getElementById("image").src = out['img'];
    }
</script>
    
</body>
</html>